<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
  <header>
    {{> nav }}
  </header>

  <main>
    {{~> content }}
  </main>

  <footer>
    <p>&copy; rbgtk</p>
  </footer>
</body>
</html>
